.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo {
  font-size: 3em;
  font-weight: bolder;
  background-color: rgba(62, 62, 62, 0.234);
  padding: 1px 5px;
  border-radius: 2px;
}

.logo .g {
  color: white;
}

.logo .h {
  color: rgb(177, 177, 177);
}

.nav-items {
  list-style: none;
  display: flex;
}

.item {
  margin: 0 30px;
  font-weight: 400;
}

.item:hover {
  color: white;
  transition: 400ms;
  cursor: pointer;
}
